.grid-container{
    display: grid;

    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    background-color: blueviolet;
    padding: 10px;
}

.grid-item{
    background-color: white;
    border: 1px solid black;
    padding: 10px; 
    font-size: 30px;
    text-align: center;
}

.grid-item img{
    width: 90%;
}

/* >>>>><<<<< */

@media(max-width: 767px){
    .grid-container{
        display: grid;
    
        grid-template-columns: auto;
        grid-gap: 20px;
        background-color: blueviolet;
        padding: 10px;
    }
    
    .grid-item{
        background-color: white;
        border: 1px solid black;
        padding: 10px; 
        font-size: 30px;
        text-align: center;
    }
    
    .grid-item img{
        width: 90%;
    }
}

@media(max-width: 1023px) and (min-width:768px){
    .grid-container{
        display: grid;
    
        grid-template-columns: auto auto;
        grid-gap: 20px;
        background-color: blueviolet;
        padding: 10px;
    }
    
    .grid-item{
        background-color: white;
        border: 1px solid black;
        padding: 10px; 
        font-size: 30px;
        text-align: center;
    }
    
    .grid-item img{
        width: 90%;
    }
}